<div class="calendar-title-bar">
  <ul class="month-specs">
    <li class="bold-lettering month-name"><%= @calendar.month %></li>
    <li class="thin-lettering month-name"><%= @calendar.year %></li>
  </ul>
</div>
